@model List<u3ndahl.Models.Program>
@{
    ViewBag.Title = "Channel3";
}


    <ul id="program">
        @foreach (var p in Model.Where (c => c.channel == 3))
        {

            <li>@p.date.ToShortTimeString()| @p.title @Html.ActionLink("(Info)", "ShowInfo", "Home", new { id = p.id }, null)</li>

        }
    </ul>

@*@p.time.ToString("00.00")*@

