@model List<u3ndahl.Models.Program>
@{
    ViewBag.Title = "Channel2";
}


<ul id="program">
    @foreach (var p in Model.Where(c => c.channel == 2))
    {

        <li>@p.date.ToShortTimeString()| @p.title @Html.ActionLink("(Info)", "ShowInfo", "Home", new { id = p.id }, null)</li>

    }
</ul>

