@*@model u3ndahl.Models.Program*@
@model List<u3ndahl.Models.Program>
@{
    ViewBag.Title = "Channel";
}

<div>
    <ul id="program">
        @foreach (var p in Model.Where(c => c.channel == 1))
        {

            <li>@p.time.ToString("00.00")| @p.title @Html.ActionLink("(Info)", "ShowInfo", "Home", new { id = p.id }, null)</li>

        }
    </ul>
</div>
