@*@model u3ndahl.Models.Program*@
@model List<u3ndahl.Models.Program>
@{
    ViewBag.Title = "Channel";
}

<div>
    <ul id="program">
        @foreach (var p in Model)
        {

            <li>@p.date.ToShortTimeString()| @p.title @Html.ActionLink("(Info)", "ShowInfo", "Home", new { id = p.id }, null)</li>

        }
    </ul>
</div>
