
@{
    Layout = null;
}

@model List<u3ndahl.Models.Program>

<ul id="program">
    @foreach (var p in Model.Where (c => c.channel == 4))
    {

        <li>@p.date.ToShortTimeString()| @p.title @Html.ActionLink("(Info)", "ShowInfo", "Home", new { id = p.id }, null)</li>

    }
</ul>
