@*@model IEnumerable<u3ndahl.Models.Program>*@
@model List<u3ndahl.Models.Program>

<ul id="program">
    @foreach (var p in Model)
    {

        <li>@p.title @p.time @Html.ActionLink("Info", "ShowInfo")</li> 

    }
</ul>
