@*@model IEnumerable<u3ndahl.Models.Program>*@
@model List<u3ndahl.Models.Program>

<ul id="program">
    @foreach (var p in Model)
    {

        <li>@p.time.ToString("00.00")| @p.title @Html.ActionLink("(Info)", "ShowInfo", "Home", new { id = p.id }, null)</li> 

    }
</ul>
