@model u3ndahl.Models.Program
@{
    ViewBag.Title = "ShowInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Programinfo</h2>

<div>
    Program: <strong> @Model.title</strong> <br />
    Beskrivning: <strong> @Model.description </strong><br />
    Kategori:  <strong> @Model.category </strong><br />
@Html.ActionLink("Tillbaka", "Index")
</div>