@model List<u3ndahl.Models.Program>
@{
    ViewBag.Title = "Category";
}

<h2>Kategori</h2>

<ul id="program">
    @foreach (var p in Model)
    {

        <li>@p.category| @p.title @Html.ActionLink("(Info)", "ShowInfo", "Home", new { id = p.id }, null)</li>

    }
</ul>





<div>
    
    @Html.ActionLink("Tillbaka", "Index")
</div>
