
@{
    ViewBag.Title = "Om";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="programinfo">
    <h4>Om hemsidan</h4>
    <p>Det här är en webbsida skapad som ett skolprojekt i kursen <a href="https://www.miun.se/utbildning/kurser/Sok-kursplan/kursplan/?kursplanid=15539">Interaktiva webbapplikationer.</a>
    Inspiration är först och främst hämtad från Tradera och TV.nu. För att skapa den här webbsidan har jag använt mig av Visual Studio 2015 och skapat projektet med hjälp av arkiteturmönstret MVC - Model-View-Controller. </p>
</div>

