
@{
    Layout = null;
}
@model u3ndahl.Models.Program

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Model.title
    </div>
</body>
</html>
